---
// src/pages/posts/[slug].astro
import "../../styles/global.css";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { fetchPosts, decodeHTMLEntities } from "../../scripts/scripts.js";

// This is required for dynamic routes in Astro
export async function getStaticPaths() {
  const posts = await fetchPosts();
  //@ts-ignore
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

// Get the post directly from props since we're now passing the complete post object
const { post } = Astro.props;
---

<html>
  <head>
    <link rel="icon" type="image/svg+xml" href="/f1.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta name="description" content="A blog about Formula 1.">
    <meta name="keywords" content="Formula 1, Blog, F1, OnBoard">
    <meta name="author" content="00chestnut">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="OnBoard - Formula1">
    <meta property="og:description" content="A blog about Formula 1.">
    <!--@ts-ignore -->
    <title>{decodeHTMLEntities(post.title)} - OnBoard Formula 1</title>
  </head>
  <body>
    <container>
      <Header />
      <main class="max-w-4xl mx-auto px-4 py-8 mb-[30rem]">
        <article class="bg-white rounded-lg shadow-md overflow-hidden pb-2">
          <!--@ts-ignore -->
          <img
            src={post.imageUrl}
            alt={decodeHTMLEntities(post.title)}
            class="w-full aspect-[16/9] md:h-[500px] object-cover object-bottom"
          />
          <!--Image above title (could be replaced in the future with a local banner!) -->

          <div class="p-6">
            <!--@ts-ignore -->
            <h1 class="text-3xl font-bold mb-2">
              <!--@ts-ignore -->
              {decodeHTMLEntities(post.title)}
            </h1>
            <!--@ts-ignore -->
            <div class="text-gray-500 mb-4">Published on {post.date}</div>
            <!--@ts-ignore -->
            <div class="Content prose max-w-none" set:html={post.content} />
          </div>
        </article>
        <!-- test -->
        <!--@ts-ignore -->
        <div class="Fragment text-gray-300 text-xs object-bottom" set:html={post.tags}>
          <h6>Tags:</h6>
        </div>
      </main>
      <Footer />
    </container>
  </body>
</html>


<style is:global>
  .Fragment{
    gap:20px;
  }
  .Content h1{
    font-size: 2rem;
  }
</style>