---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card2 from "../components/Card2.astro";
import Card1 from "../components/Card1.astro";
import Cage from "../components/Cage.astro";
import Search from "../components/searchbar.astro"; //tba
import { fetchPosts } from "../scripts/scripts.js"; 

// Fetch posts from WordPress
const posts = await fetchPosts();
---

<html>
  <head>
    <link rel="icon" type="image/svg+xml" href="/f1.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta name="description" content="A blog about Formula 1.">
    <meta name="keywords" content="Formula 1, Blog, F1, OnBoard">
    <meta name="author" content="00chestnut">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="OnBoard - Formula1">
    <meta property="og:description" content="A blog about Formula 1.">
    <title>OnBoard - Formula 1</title>
  </head>
  <body>
    <container>
      <Header />
        <main>
          <Cage>
            {posts.length > 0 ? (
              //@ts-ignore
              posts.map((post) => (     // (post marks an error because it is not declared as an astro prop?)
                <Card2
                  picture={post.imageUrl}
                  alt={post.title}
                  name={post.title}
                  desc={post.description}
                  btn="Read more"
                  slug={post.slug}
                />
              ))
            ) : (
              <div class="text-center w-full p-8">
                <h3 class="text-xl font-bold">No posts found</h3>
                <p>Please contact the site developer.</p>
              </div>
            )}
          </Cage>
        </main>
        <Footer />
    </container>
  </body>
</html>